<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Post comment', class: 'btn btn-primary' %>
  </div>
<% end %>
