<div class="container">
  <% controller.redirect_to '/members/sign_in' unless member_signed_in?  %>

  <% @posts.each do |post| %>
       <h1><%= link_to post.title, post %></h1>
       <p><%= post.content %></p>
  <% end %>

  <%= link_to 'Add New Post', new_post_path %>
</div>
