<div class="container">
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }%>
</div>
