.comment {

  .author {
    margin-bottom: 20px;
  }

  .author-photo {
    margin-right: 10px;
  }

  textarea {
    width: 75%;
    border-radius: 0px;
    background-color: #f5f8fa;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: darkgrey;
  }
}
