// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background {
  background-image: image-url("background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;

  header {
    padding: 1rem 0;
    #logo {
      float: left;
      text-transform: lowercase;
      font-weight: 600;
      color: $white;
      text-decoration: none;
      font-size: 1.5rem;
      padding-left: 1.2rem;
      letter-spacing: .3rem;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;
          a {
            color: $white;
            text-decoration: none;
          }
        }
      }

    }
    span {
      font-weight: 100;
      letter-spacing: .3rem;
    }
  }

  h1 {
    color: $white;
    font-family: 'Montserrat', sans-serif;

    font-size: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 7rem 0 2rem 0;
  }

  .button {
    color: $white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    outline: none;
    border: none;
  }

  .button_highlight {
    background: #51436d;
    &:hover {
      background: darken(#51436d, 7.5%)
    }
  }

  .container {
    padding-top: 5rem;
  }

}
