.badge-skill {

  background-color: none;
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin-bottom: 5px;
}

a.badge-skill {
   color: #282c34;
   text-decoration: none;

}

a.badge-skill:hover {
  color: #3097D1;
  text-decoration: none;
}
